<div class="container">
  <h1>Hero Form</h1>
  <form 
    #heroForm="ngForm"
    (ngSubmit)="onSubmit(heroForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        name="Name"
        [(ngModel)]="hero.name"
        #Name="ngModel"
        type="text"
        class="form-control"
        id="name"
        required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input 
        name="alterEgo"
        [(ngModel)]="hero.alterEgo"
        #alterEgo="ngModel"
        type="text"
        class="form-control"
        id="alterEgo"
        required>
    </div>   

    
    <div class="form-group" *ngIf="!loggedIn">
      <re-captcha 
        name="recaptcha"
        [(ngModel)]="hero.recaptcha"
        #recaptcha="ngModel"
        type="text"
        class="form-control"
        id="recaptcha"
        (resolved)="resolved($event)"
        [siteKey]="recaptchaPublicKey"
        required>
      </re-captcha>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

  </form>
</div>